.header {
  background-color: white;
  min-height: 80px;
  display: flex;
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 99;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  .header__inner-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .region--header  {
      width: 50%;

      nav {
        ul {
          display: flex;
          text-transform: uppercase;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
