.page-banner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DAD7CD;
  min-height: 550px;

  .page-banner__inner-wrapper {
    width: 100%;

  }
}
