.icon-grid-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon-grid-inner-wrapper {
    max-width: 1440px;
    margin: 80px 0;
    padding: 0 10px;
    width: 100%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; // Adjust the gap as needed

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); // 2 items per row on tablets
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr; // 1 item per row on mobile
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  .item-image img {
    width: 100%; // Make image responsive
    height: auto;
    max-width: 125px;
    margin-bottom: 15px;
  }

  .item-heading {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }

  .item-body {
    color: #000;
    opacity: .8;
  }
}
