.icon-grid-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon-grid-inner-wrapper {
    max-width: 1440px;
    margin: 80px 0;
    padding: 0 10px;
    width: 100%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 50px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); // 2 items per row on tablets
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr; // 1 item per row on mobile
    row-gap: 50px;
  }
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #ecf1f3;
  padding: 20px;
  border-radius: 5px;
  .item-image{
   width: 40%;
    img {
      width: 100%; // Make image responsive
      height: auto;
      max-width: 125px;
      margin-bottom: 15px;
    }

  }

  .item-heading {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }

  .item-body {
    color: #000;
    opacity: .8;
  }
}
