// |--------------------------------------------------------------------------
// | Link
// |--------------------------------------------------------------------------
// |
// | This link contains styles for the following:
// | - .field--type-link
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin link-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------
.field--name-field-os2web-page-primaryimage {
  margin: 0 0 40px 0;
  img {
    display: block;
    width: 100%;
  }
}

.field--name-field-os2web-page-media-img {
  margin: 0 0 40px 0;

  img {
    display: block;
    width: 100%;
  }
}

.field--name-field-os2web-news-primaryimage {
  margin: 0 0 40px 0;
  img {
    display: block;
    width: 100%;
  }
}

.field--name-field-os2web-news-media-img {
  margin: 0 0 40px 0;

  img {
    display: block;
    width: 100%;
  }
}
// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------


// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {

  .node__content {

    > .field--name-field-os2web-page-primaryimage {

      img {
        display: block;

        width: 100%;
      }
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
