.field--name-field-os2web-slideshow-heading {
    margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 22px;
  @include media($sm) {
    font-size: 28px;
  };
  @include media($md) {
    font-size: 42px;
  };
}
