.paragraph--type--links-block-with-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
  min-height: 400px;
  color: white;
  & .field--name-field-block-titl {
    font-size: 25px;
    color: white !important;
  }
  & .field--name-field-block-desc {
  }
  & .paragraph--type--os2web-search-selected-terms ul {
    list-style: none;
    & li {
      padding: 0;
      margin-right: 20px;
      &::before {
        content: none;
      }
      & a {
        color: white;
      }
    }
  }
  .custom-bg {
      @include media($sm) {
        background-image: 
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg");
      background-position: 25% -5%, 50% -5%, 75% -5%, 100% -5%, 12.5% 34%,
        37.5% 34%, 62.5% 34%, 87.5% 34%, 25% 70%, 50% 70%, 75% 70%, 100% 70%,
        12.5% 105%, 37.5% 105%, 62.5% 105%, 87.5% 105%;
      background-repeat: no-repeat;
      min-height: 100%;
      background-size: 50px 90px;
      };
      @include media(1300px) {
        background-image: 
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg"),
        url("../images/falk.svg"), url("../images/falk.svg");
      background-position: 20% -5%, 40% -5%, 60% -5%, 80% -5%, 100% -5%, 10% 34%,
        30% 34%, 50% 34%, 70% 34%, 90% 34%, 20% 70%, 40% 70%, 60% 70%, 80% 70%,
        100% 70%, 10% 105%, 30% 105%, 50% 105%, 70% 105%, 90% 105%;
      };

  }
}
