
{% if page.header %}
<header class="header" role="banner">
  <div class="header__inner-wrapper">
    <div class="logo-wrapper">
      {{ page.header__logo }}
    </div>
    {{ page.header }}
    <div class="hamburger">
      <span class="bar bar-1"></span>
      <span class="bar bar-2"></span>
      <span class="bar bar-3"></span>
    </div>
  </div>
</header>
{% endif %}

<main class="main" role="main">
  <a id="main-content" tabindex="-1"></a>

  {% if page.content %}
  <div class="main__content">
    {{ page.content }}
  </div>
  {% endif %}
</main>


{% if page.footer %}
<footer class="footer" role="contentinfo">
  {{ page.footer }}
</footer>
{% endif %}

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
