
{% if page.header %}
<header class="header" role="banner">
  <div class="logo-wrapper">
    {{ page.header__logo }}
  </div>
  {{ page.header }}
</header>
{% endif %}

<main class="main" role="main">
  <a id="main-content" tabindex="-1"></a>

  {% if page.content %}
  <div class="main__content">
    {{ page.content }}
  </div>
  {% endif %}
</main>


{% if page.footer %}
<footer class="footer" role="contentinfo">
  {{ page.footer }}
</footer>
{% endif %}
