<div class="kultunaut-wrapper">
  {% if paragraph.field_kultunaut_heading is not empty %}
<h2>{{ content.field_kultunaut_heading.value }}</h2>
  {% endif %}

  <div id="nautblockturisttema1">&nbsp;</div>
  <script type="text/javascript">var naut=naut||{};naut.load=naut.load||[];naut.load.push(function(){naut.define({'div':'nautblockturisttema1','tmpl':'visitdk4','tmplid':'nautblock2','addparam':'&MarkType2=turisttema1','addurl':false,'ref':true});});(function(d){if (typeof naut.init === 'function') naut.init();var id='nautjs';if (d.getElementById(id)) {return;}var js=d.createElement('script');js.id=id;js.async=true;js.type='text/javascript';js.src="//www.kultunaut.dk/nautjs.js";var node=d.getElementsByTagName('script')[0];node.parentNode.insertBefore(js, node);}(document));</script>
</div>
