// |--------------------------------------------------------------------------
// | Accordion
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .accordion
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin accordion-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.accordion {
  margin-top: 10px;
  margin-bottom: $grid-gutter-width / 2;
  & > li {
    margin-bottom: 0.5rem;
  }

}
.paragraph--type--os2web-accordion-item {

  .accordion-button {
    position: relative;
    font-size: 1.6rem;
    padding: 1rem 5rem 1rem 2rem;
    font-weight: $font-weight-bold;
    border-radius: 0 !important;
    background-image: none !important;
    background-color: $background_color__tertiary;
    color: $color-white;
    &:after {
      display: flex;
      position: absolute;
  
      align-items: center;
      justify-content: center;
  
      padding-top: 2px;
  
      top: 50%;
      transform: translateY(-50%);
      right: 2rem;
  
      width: 2.6rem;
      height: 2.6rem;
  
      font-size: 1rem;
      font-family: FontAwesome;
  
      content: $fa-var-plus;
  
      color: #414141;      
      background-color: $color-background;
  
      border-radius: 25px;
    }
    &:focus {
      outline: 0;
    }
    &[aria-expanded="true"] { //accordion button is open
      background-color: $background_color__primary;
      &:after {
        content: $fa-var-minus;
        font-size: 0.8rem;
      }
    }
  }
  
  .accordion-content {
    border: 1px solid gray;
    border-top: 0;
    padding: 1.5rem 2rem;
    background-color: $background_color__tertiary;
    color: $color-white;
    * {
      color: $color-white;
    }
    .field {
  
      + .field--name-field-os2web-hearings-reply-docs {
        margin-top: $grid-gutter-width / 2;
      }
    }
  }
}

.accordion-close-button {
  display: block;

  margin-left: -2.4rem;
  margin-right: -2.4rem;
  margin-bottom: -2rem;
  padding: 2rem 0 3rem 0;

  font-weight: $font-weight-bold;
  font-size: 4rem;
  text-align: center;
  border: 0;

  color: $color-red-001;
  background-color: transparent;

  &:focus {
    outline: 0;
  }
}

.accordion {

  .box__body {

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
