// |--------------------------------------------------------------------------
// | Box
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .box
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin box-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.box {
  background-color: #fff;
  text-align: center;
  .box__heading {
    padding: 20px 20px 5px 20px;
    color: $color-black;
    background-color: #fff;

    .field--name-field-os2web-page-primaryicon {
      img {
        width: auto;
        max-height: 60px;
      }
    }
    .h4 {
      font-size: 2.4rem;
    }
  }
  .box__body {
    font-size: 1.6rem;
    color: $color-black;
    padding: 10px 40px;

    .box__title {
      font-size: 2.4rem;
      color: #00789e;
    }

    a {
      color: #2a5e6f;

      &:after {
        display: none !important;
      }
    }
  }
  .box__heading + .box__body {
    padding-top: 0;
  }
}

.field--name-field-os2web-files-media {
  background-color: $gray-primary;
  padding: 10px 0px;
}


// Variants.
.box--section-link {
  min-height: 300px;
  margin: 0 -15px 14px -15px;

  .box__body {
    min-height: 40px;

    padding-top: 10px;
    padding-bottom: 10px;

    > a {
      position: relative;
      font-size: 1.8rem;
      font-weight: $font-weight-bold;

      &:after {
        display: inline-block;
        position: absolute;

        top: 50%;
        right: 0;

        margin-top: -12px;

        font-family: FontAwesome;
        content: $fa-var-angle-right;

        color: $color__bullets;
      }
    }
  }

  a {
    display: block;

    text-decoration: none;
  }

  ul {
    margin: 0 0 5px 0;

    li {
      list-style: none;
      padding-left: 0;

      &:before {
        display: none;
      }
    }

    a {
      font-size: $small-text;
    }
  }


}

#block-primaernavigation-2 {
  h2 {
    background-color: white;
    margin: 0;
    padding: 40px;
    font-size: 2.4rem;
    font-weight: 400;
    color: #00789e;
    position: relative;

    &:after {
      display: block;
      position: absolute;
      content: "";
      height: 2px;
      width: 140px;
      left: 0;
      bottom: 19px;
      background-color: #e2dddb;
    }
  }
}

.sidebar__box {
  background-color: white;

  .sidebar__box-heading {
    padding: 40px;
    position: relative;

    &:after {
      display: block;
      position: absolute;
      content: "";
      height: 2px;
      width: 140px;
      left: 0;
      bottom: 19px;
      background-color: #e2dddb;
    }
    h2 {
      font-size: 2.4rem;
      color: #00789e;
      font-weight: normal;
      margin-top: 0 !important;
    }
  }
  .sidebar__box-body {
    padding: 0 40px 40px 40px;
  }
}


#block-indholdfield-ext-links {
  h2 {
    font-size: 2.4rem;
    color: #00789e;
    font-weight: normal;
    position: relative;
    padding: 40px;

    &:after {
      display: block;
      position: absolute;
      content: "";
      height: 2px;
      width: 140px;
      left: 0;
      bottom: 19px;
      background-color: #e2dddb;
    }
  }

  .field--name-field-selfbetjening-ref {
    padding: 0 40px 40px 40px;

    .field__item {
      a {
        padding-left: 35px;
        text-decoration: none;
        position: relative;
        color: black;

        &:hover {
          text-decoration: underline;
        }

        &:before {
          top: -5px;
          left: 0;
          position: absolute;
          font-size: 2.4rem;
          font-family: "Material Icons";
          content: "keyboard_backspace";

          color: $color__bullets;

          transform: rotate(180deg);
        }
      }
    }
  }
}


.menu-linker-page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;

  .field--name-field-os2web-page-primaryicon {
    img {
      max-height: 50px;
      width: auto;
    }
  }
  span {
    color: #00789e;
    font-weight: 700;
    margin-left: 20px;
    font-size: 3.2rem;
  }
}

.menu-linker-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 30px;

  @media only screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, minmax(0,1fr));
  }

  @media only screen and (max-width: 992px) {
    grid-template-columns: repeat(2, minmax(0,1fr));
  }

  @media only screen and (max-width: 640px) {
    grid-template-columns: repeat(1, minmax(0,1fr));
  }

  .menu-linker-item {
    background-color: #fff;
    padding: 20px;
    min-height: 250px;

    .menu-linker-box {
      .menu-linker-body {
        .menu-linker-title {
          font-size: 2.4rem;
          color: #00789e;
          text-decoration: none;
          font-weight: 700;
          line-height: 1.1;

          &:hover {
            text-decoration: underline;
          }
        }
        .menu-linker-intro-text {
          .field--name-field-os2web-page-intro {
            margin-top: 15px;
            padding-bottom: 20px;
            p {
              font-size: 1.6rem;

              strong {
                font-weight: normal;
              }
            }
          }
        }
      }
    }
  }
}


// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {

  .box {
    box-shadow: none !important;

    .box__heading {
      padding: 0;
    }
    .box__body {
      padding: 0;
    }

  }
}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
