// |--------------------------------------------------------------------------
// | Custom header
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .custom-header
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin custom-header-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------
$header-top-menu-size: 9rem;
.custom-header-row.custom-header-row--meta {
  height: $header-top-menu-size;
  display: flex;
  .flexy-row {
    height: $header-top-menu-size;
  }
}
.region-header__logo {
  .logo {
    img {
      height: 2.4rem;
    }
  }
}
.region-header__top-navigation {
  ul {
    li {
      &::before {
        content: none;
      }
    }
  }
  a {
    font-size: 20px;
  }
}

$header-bottom-menu-size: 7rem;
.custom-header-row--desktop-navigation {
  min-height: $header-bottom-menu-size;
  background-color: $background_color__navigation;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  & > .container {
    @include media-breakpoint-up(lg) {
      padding-right: 12.5rem;
    }
  }
  .region-header__main-navigation {
    margin: 0;
    padding-left: 0;
    nav {
      ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 5rem;
        li {
          margin: 0;
          position: relative;
          list-style: none;
          float: left;
          padding: 0;
          &:before {
            display: none;
          }
         
          a {
            font-size: 2.2rem;
            display: block;
            color: $color-white;
            & + ul {
              display: none;
            }
          }
        }
      }
    }
  }
  .icon.fa {
    font-size: 2.2rem;
  }
  .social-icon {
    height: $header-bottom-menu-size;
    width: $header-bottom-menu-size;
    background-color: lighten($background_color__navigation, 10%);
    border-radius: 0;
    .icon {
      color: $color-white;
    }
  }
  .region-small-search {
    height: $header-bottom-menu-size;
    form {
      height: $header-bottom-menu-size;
      display: flex;
      justify-content: center;
      position: relative;
      .form-item-search-api-fulltext {
        height: $header-bottom-menu-size;
        display: flex;
        justify-content: center;
        input { //text input
          overflow: hidden;
          font-size: 1.6rem;
          border: 0;
          border-radius: 0;
          width: 466px;
          max-width: unset!important;
          position: absolute;
          height: 70px;
          left: 0;
          right: 455px;
          &::placeholder {
            // color: $color-white!important;
          }
        }
      }
      .form-actions {

        top: 50%!important;
        transform: translateY(-50%);
        right: -439px;
        &::after {
          font-size: 20px;
        }
        input { //submit input
          position: initial!important;
        }
      }
    }
  }
}



.custom-header {

  .logo {

    img {
      display: block;
      max-height: 60px;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {

  .custom-header {

    .logo {

      img {
        max-height: 80px;
      }
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
