.quicktabs-tabs {
  margin: 0;
  display: flex;
  align-items: center;

  li {
    margin:0;
    display: flex;

    &.active {
      a {
        background-color: #00789e;
        color: #fff;
        transition: .3s ease;
      }
    }


    a {
      padding: 18px 30px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    &:before {
      display: none;
    }
  }
}

.more-link {
  margin-top: 20px;
  display: flex;

  a {
    color: white !important;
    position: relative;
    max-width: 290px !important;
    text-align: left;
    white-space: normal;
    font-size: 1.6rem;
    width: 100%;
    background-color: #00789e;
    padding: 18px 30px;
    transition: .3s ease;

    &:hover {
      background-color: #006585;
    }

    &:after {
      position: absolute;
      content: '\f054';
      color: white;
      font-family: "FontAwesome";
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      font-size: 14px;
    }
  }
}
