
.container {
  @apply ml-auto mr-auto px-gap;
  width: 100vw;
  max-width: calc(var(--layout-max-width) + calc(var(--grid-gap) * 2));

  @screen md {
    max-width: calc(var(--layout-max-width) + calc(var(--grid-gap) * 2));
  }

  &.--fluid {
    @apply max-w-none md:max-w-none;
  }
}

.c-grid {
  @apply -mx-gap flex flex-wrap;
}

.c-column {
  @apply px-gap relative;
}

.field--name-field-os2web-page-heading {
  display: flex;
  justify-content: center;
  align-items: center;

  .page-heading-default {
    width: 100%;
    max-width: $layout-width;
    padding: 0 10px;
  }
}

.os2web-page-intro {
  display: flex;
  justify-content: center;
  align-items: center;

  .os2web-page-intro__item {
    width: 100%;
    max-width: $layout-width;
    padding: 0 10px;
    font-weight: 800;
    color: #000;
    opacity: .8;
  }
}


.os2web-page-description {
  display: flex;
  justify-content: center;
  align-items: center;

  .os2web-page-description__item {
    width: 100%;
    max-width: $layout-width;
    padding: 0 10px;
  }
}

.page-default-content-wrapper {
  margin: 80px 0;
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
  h1 {
    font-size: var(--font-size-h1);
  }
  h2 {
    font-size: var(--font-size-h2);
  }
  h3 {
    font-size: var(--font-size-h3);
  }
  h4 {
    font-size: var(--font-size-h4);
  }
  h5 {
    font-size: var(--font-size-h5);
  }
  h6 {
    font-size: var(--font-size-h6);
  }
}
