a[data-extlink] {
    color: $color-primary;
    position: relative;
    padding-right: 15px;
    &:after {
        content: "";
        height: 7px;
        width: 14px;
        background-image: url("../images/Pil.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: block;
        position: absolute;
        top: 1px;
        right: 0px;
        transform: rotate(-45deg);
    }
    &:hover {
        color: $color-green-002; 
    }
}