.view-os2web-news {
  .view-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.hoering-dates-wrapper {
  margin-top: 20px;
  background-color: #00789e;
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
