// |--------------------------------------------------------------------------
// | Box
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .box
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin box-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.box {
  background-color: $color-gray-pale;
}
.box__heading {}
.box__body {}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.box {

  &.background-color--primary,
  &.background-color--secondary,
  &.background-color--tertiary {

    .box__heading {

      h1, h2, h3, h4, h5, h6 {
        color: #fff;
      }
    }

    .box__body {

      &, p, .body-text, h1, h2, h3, h4, h5, h6 {
        color: #fff;
      }

      a {

        &, &:hover, &:focus, &:visited {
          color: #fff;
        }
      }
    }
  }
}

.paragraph--type--os2web-simple-text-paragraph {
  p {
    max-width: none;
  }
}

.content--content {
  max-width: 66% !important;
}

.paragraph--type--os2web-box-paragraph {
  p {
    max-width: none;
  }
}
// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
