{% if paragraph.field_os2web_slideshow_heading is not empty %}
<h2 class="slideshow-heading">{{ paragraph.field_os2web_slideshow_heading.value }}</h2>
{% endif %}
<div class="os2web-slideshow">
  <div class="os2web-slideshow-container">
    <div class="os2web-slides">
      {% for item in paragraph.field_os2web_slideshow_image %}
        <div class="os2web-slide">
          <img src="{{ file_url(item.entity.uri.value) }}" alt="{{ item.entity.alt }}" />
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="os2web-slideshow-controls">
    <button class="os2web-prev"><i class="fa-solid fa-arrow-left"></i></button>
    <button class="os2web-next"><i class="fa-solid fa-arrow-right"></i></button>
  </div>
</div>
