$background_color__default: #ebebeb;

$background_color__primary: #f0efef;
$background_color__secondary: #eae3c0;
$background_color__tertiary: #066cc5;

$background_color__navigation: #fffafa;
$background_color__footer_primary: #d1d3d4;

// $background_color__footer_secondary: ;
$background_color__button: #C30A32;
$background_color__button_hover: #E6032F;


$color__link: #c50a32;
$color__link__hover: #333;

$color__link_footer: #313030;
$color__bullets: #383838;




div[data-drupal-messages] {
    display: none;
}