// |--------------------------------------------------------------------------
// | EU cookie compliance
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .eu-cookie-compliance-banner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin eu-cookie-compliance-banner-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.eu-cookie-compliance-message {
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

}

.eu-cookie-compliance-banner {
  left: 0;
  right: 0;
  bottom: 0;

  padding: 40px 0;

  //color: #fff;
  //background-color: rgba($color-base-002, .95);

  p, h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  &,
  p {
    font-size: $base-font-size;
  }

  .field--type-link a,
  a {

    &, &:hover, &:focus, &:visited {
      color: #fff;
    }

    &:after {
      color: #fff;
    }
  }

  .button {

    &, &:hover, &:focus {
      font-weight: $font-weight-bold;

      box-shadow: none;

      font-family: $font-family;
      font-size: $base-font-size;
      text-shadow: none;

      color: #353535;
      background-color: #fff;
      background-image: none;
      border: 0;
    }
  }

  .inline-list {

    li + li {
      margin-left: 10px;

      @media only screen and (max-width: 768px) {
        margin-left: 0;
      }
    }
  }

  .field--type-link {
    margin-top: 2rem;
  }
}

.eu-cookie-withdraw-banner {
  display: flex;
  align-items: center;

  margin: 0 auto;
  max-width: none;
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  position: relative;

  .eu-cookie-withdraw-button {
    color: #353535;
    background-color: white;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
  }
}

#sliding-popup {
  width: 100%;
  border-top: 1px solid #dddddd;

  .eu-cookie-compliance-banner {
    padding: 40px 0;

    .popup-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media only screen and (max-width: 935px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

      }

      .eu-cookie-compliance-message{

        @media only screen and (max-width: 935px) {
          max-width: 100%;

        }

        h2 {
          display: flex;
          align-items: center;
          &:before {
            content: '';
            background-image: url('../dist/images/cookie-icon.png');
            background-size: 48px 48px;
            background-repeat: no-repeat;
            margin-right: 10px;
            width: 48px;
            height: 48px;
            display: flex;
          }
        }


      }
      .eu-cookie-compliance-buttons {
        display: flex;
        gap: 20px;

        @media only screen and (max-width: 935px) {
          width: 100%;
          max-width: 100%;

        }

        @media only screen and (max-width: 480px) {
          flex-direction: column;
        }
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {

  .eu-cookie-compliance-banner {

    [class*="col-"] {
      display: flex;

      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }

  }
}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
