body {
  font-size: $body-text;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

// Increased specificity to win over base theme.
body .container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Accessibility overrides.
body a {

  &:focus {
    outline-width: 2px;
  }
}

a.element-wrapper-link {
  max-width: unset;
}

.fake-link {
  color: $color-primary;
}

.accordion-button {
  font-size: 2rem;
  font-weight: $font-weight-bold;
}

.paragraph a,
.region-content a,
.breadcrumb a {

  &:focus {
    outline-width: 2px;
    outline-offset: 0;
    color: $color-white;
    background-color: $color-primary;
  }
}

.background-color--primary {
  background-color: $color-primary !important;
}
.background-color--secondary {
  background-color: $color-green-002 !important;
}
.background-color--tertiary {
  background-color: $color-gray-002 !important;
}
