// |--------------------------------------------------------------------------
// | Path-s
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | Path-s

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.path-s {
  .page-alert {
    display: none;
  }
  .region-content .block-views-exposed-filter-blockos2web-search-os2web-search-page {
    display: none;
  }
  .sapi-did-you-mean {
    font-size: 2.4rem;
    font-weight: 300;
    font-family: "MuseoSans", "Helvetica", "Arial", sans-serif;
  }
}
#block-filtertoggle {
  position: relative;
  .btn-filters {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    text-indent: -999em;
    cursor: pointer;
    background: $color-primary url("/themes/custom/fds_redwhite_theme/dist/images/sprite.png") no-repeat 3px -253px;
    z-index: 32;
  }
}
.entity-search-result {
  box-shadow: none;
  padding: 0;
}
.view-os2web-search .view-header h2 {
  font-size: 3rem;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 30px;
  color: $color-dark-gray2;
}
.view-os2web-search .field--name-title {
  font-weight: 500;
  font-family: "Museo 500", sans-serif;
  font-size: 2.2rem;
}
.view-os2web-search .createdtime {
  font-size: 1.2rem;
  text-transform: lowercase;
}
.view-os2web-search .search-content-type {
  font-style: italic;
  color: $color-dark-gray0;
}
.view-os2web-search .pager {
  margin-bottom: 45px;
}
.view-os2web-search .pager li.pager__item {
  margin: 2px;
}
.view-os2web-search .pager__item a {
  font-size: 1.5rem;
}
.view-os2web-search .pager li.pager__item a {
  padding: 2px 8px;
  background: $color-primary;
  color: $color-white;
  border: 1px solid $color-light-gray2;
  border-radius: 3px;
}
.view-os2web-search .pager li.is-active a {
  background: $color-white;
  color: $color-primary;
  font-weight: normal;
}
.view-os2web-search .pager li.pager__item--next,
.view-os2web-search .pager li.pager__item--previous {
  padding: 0;
}
.view-os2web-search .pager li.pager__item--next a,
.view-os2web-search .pager li.pager__item--previous a {
  padding: 1px 0 0;
}
.path-s .row {
  position: relative;
}
.path-s aside {
  position: absolute;
  top: 154px;
}
.path-s aside .region-sidebar-second {
  background-color: $color-white;
  padding: 80px 15px 15px;
  display: none;
  position: absolute;
  top: 50px;
  right: 15px;
  z-index: 30;
  margin-left: 15px;
}
.path-s aside .region-sidebar-second.filterVisible {
  display: block;
}
.path-s aside .action-buttons {
  display: none;
}
.path-s aside.filterVisible .action-buttons {
  position: absolute;
  right: 15px;
  width: 100%;
  max-width: 257px;
  z-index: 31;
  margin: 0 15px;
  display: block;
}
.region-sidebar-first > div + div ul,
.region-sidebar-second > div + div ul {
  border: 1px solid $color-light-gray1;
  border-bottom: 0;
}
.path-s .region-breadcrumb,
.path-s .layout-sidebar-right {
  transition: none;
}
.view-os2web-search .views-row:first-of-type {
  border-top: 1px solid $color-dark-gray2;
}
.view-os2web-search .views-row {
  border-bottom: 1px solid $color-dark-gray2;
  padding: 15px 0 25px;
}
.view-os2web-search .views-row + .views-row {
  margin-top: 0;
}
.view-os2web-search a {
  text-decoration: none;
}
.view-os2web-search a:visited {
  color: $color-primary;
}
.view-os2web-search h2 {
  font-size: 2.2rem;
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {
  .view-os2web-search .view-header h2 {
    font-size: calc(40px + 6 * ((100vw - 576px) / 680));
  }
  .view-os2web-search .pager li.pager__item {
    margin: 5px;
  }
  .view-os2web-search .pager li.pager__item--next a,
  .view-os2web-search .pager li.pager__item--previous a {
    background: transparent;
    color: $color-primary;
    text-transform: uppercase;
    border: none;
  }
  .view-os2web-search .pager li.pager__item--next a::after {
    content: "›";
  }
  .view-os2web-search .pager li.pager__item--previous a::before {
    content: "‹";
  }
  .view-os2web-search .pager li.pager__item--next .visually-hidden,
  .view-os2web-search .pager li.pager__item--previous .visually-hidden {
    position: relative !important;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
    word-wrap: normal;
  }
  .view-os2web-search .pager li.pager__item--next .icon,
  .view-os2web-search .pager li.pager__item--previous .icon {
    display: none;
  }
}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {
  .path-s aside {
    position: relative;
    top: 0;
  }
  .path-s aside .region-sidebar-second {
    background-color: transparent;
    padding: 0;
    display: block;
    position: relative;
    top: 0;
    right: auto;
    z-index: auto;
    margin-left: 0;
  }
  .path-s aside .region-sidebar-second.filterVisible {
    top: 55px;
  }
  .path-s aside .action-buttons {
    display: block;
  }
  .path-s aside.filterVisible .action-buttons {
    position: relative;
    right: 0;
    width: auto;
    max-width: none;
    z-index: 31;
    margin: 0;
    display: block;
  }
  #block-filtertoggle {
    display: none;
  }
  .path-s .region-sidebar-first > div + div ul,
  .path-s .region-sidebar-second > div + div ul {
    border-top: 1px solid $color-light-gray1;
  }
}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {
  .view-os2web-search .view-header h2 {
    font-size: 5rem;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
