<div class="text-img-wrapper">
  <div data-aos="fade-in" data-aos-duration="800" data-aos-easing="ease" data-aos-once="true" class="text-img__inner-wrapper">
    <div class="image-wrapper">
      <img src="/themes/custom/subsites/bellcom_theme/assets/images/placeholder-img-2.jpg">
    </div>
    <div class="content-wrapper">
      <h2>Tilmeld dig vores nyhedsbrev, og hold dig opdateret</h2>
      <div class="content-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</p>
      </div>
      <div class="content-element">
        <form>
          <input type="email" placeholder="Skriv din e-mail her...">
          <button id="subscribe-btn" type="submit">
            <span>Abonnér</span>
            <div class="icon">
              <i class="fa-regular fa-paper-plane"></i>
              <i class="fa-solid fa-check"></i>
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
