<div class="hero-wrapper">
  <div class="hero__inner-wrapper">
    <div class="hero__text-wrapper">
      <h1>Design bureau,<br>med intelligente løsninger</h1>
      <p>Bellcom dækker alle digitale behov indenfor udvikling, hosting og support.</p>
      <p>Vores primære kompetencer er teknisk rådgivning, agil udvikling, design og implementering af innovative hjemmesider
        i open source teknologi baseret på CMS platformen Drupal.</p>
      <div class="hero__cta-wrapper">
        <div class="main-cta-btn-wrapper">
          <a class="main-cta-btn" href="#">Læs mere om Bellcom</a>
        </div>
        <div class="secondary-cta-btn-wrapper">
          <a class="secondary-cta-btn" href="#"><span>Gå til produkt oversigt</span> {% include "@bellcom_theme/assets/images/arrow-right.svg" %}</a>
        </div>
      </div>
    </div>
    <div class="hero__element-wrapper">
      <div class="hero__element hero__element-one">
        <img src="/themes/custom/subsites/bellcom_theme/assets/images/placeholder-img-4.jpg">
        <div class="hero__element-overlay"></div>
        <div class="hero__element-widget">
          <div class="hero__element-text">
            <span class="hero__element-text-header">Selvbetjening</span>
            <span class="hero__element-text-suffix">Offentlig/Privat</span>
          </div>
          <div class="hero__element-icon">
            {% include "@bellcom_theme/assets/images/arrow-right.svg" %}
          </div>
        </div>
      </div>
      <div class="hero__element hero__element-two">
        <img src="/themes/custom/subsites/bellcom_theme/assets/images/placeholder-img-2.jpg">
        <div class="hero__element-overlay"></div>
        <div class="hero__element-widget">
          <div class="hero__element-text">
            <span class="hero__element-text-header">Webplatforme</span>
            <span class="hero__element-text-suffix">Offentlig/Privat</span>
          </div>
          <div class="hero__element-icon">
            {% include "@bellcom_theme/assets/images/arrow-right.svg" %}
          </div>
        </div>
      </div>
      <div class="hero__element hero__element-three">
        <img src="/themes/custom/subsites/bellcom_theme/assets/images/placeholder-img-3.jpg">
        <div class="hero__element-overlay"></div>
        <div class="hero__element-widget">
          <div class="hero__element-text">
            <span class="hero__element-text-header">Datascanner</span>
            <span class="hero__element-text-suffix">Offentlig/Privat</span>
          </div>
          <div class="hero__element-icon">
            {% include "@bellcom_theme/assets/images/arrow-right.svg" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
