<div class="icon-grid-wrapper">
  <div class="icon-grid-inner-wrapper">
  {% if content %}
    <div class="grid-container">
      {% for i in 1..8 %}
        {% set imageField = 'field_box_' ~ i ~ '_image' %}
        {% set headingField = 'field_box_' ~ i ~ '_heading' %}
        {% set bodyField = 'field_box_' ~ i ~ '_body' %}

        {% set hasImage = imageField|render|trim is not empty %}
        {% set hasHeading = headingField|render|trim is not empty %}
        {% set hasBody = bodyField|render|trim is not empty %}

        {% if hasImage or hasHeading or hasBody %}
          <div data-aos="fade-in" data-aos-duration="800" data-aos-easing="ease" data-aos-once="true" class="grid-item">
            {% if hasImage %}
              <div class="item-image">{{ imageField }}</div>
            {% endif %}

            {% if hasHeading %}
              <h2 class="item-heading">{{ headingField }}</h2>
            {% endif %}

            {% if hasBody %}
              <div class="item-body">{{ bodyField }}</div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  </div>
</div>
