 {#  #}
<div class="page-banner-wrapper">
  <div class="page-banner__inner-wrapper">
    <div class="page-banner__content-wrapper">
      <div class="page-banner__prefix">
        <span>
          Karriere
          {% include "@bellcom_theme/assets/images/arrowcircleright.svg" with { custom_color: "#344E41" } %}
        </span>
      </div>
      <h2>Er det dig vi mangler?</h2>
      <div class="page-banner__body">
        <p>Hos Bellcom søger vi løbende nye ansigter til at være en del af vores kreative og agile team. Det kan være,
          at det er dig vi står og mangler. Send os en uopfordret ansøgning eller kontakt os
          for en kop kaffe.</p>
      </div>
    <div class="page-banner__element">
      <a href="#">Gå til kontaktside {% include "@bellcom_theme/assets/images/arrow-right-small.svg" with { custom_color: "white" } %}</a>
    </div>
    </div>
    <div class="page-banner__image">

    </div>
  </div>
</div>
