$background_color__default: #ebebeb;
// $background_color__primary: ;
// $background_color__secondary: ;
// $background_color__tertiary: ;
$background_color__navigation: #ffffff;
$background_color__footer_primary: #d1d3d4;
// $background_color__footer_secondary: ;
// $background_color__button: ;
// $background_color__button_hover: ;
$color__link: #c30a32;
$color__link__hover: #333333;
$color__link_footer: #333333;
// $color__bullets: ;





div[data-drupal-messages] {
    display: none;
}