{#  #}
<div class="single-cta-button-outer-wrapper">
  <div class="single-cta-button-wrapper">
    <a title="{{ paragraph.field_link_upper_text.value }}" href="{{ paragraph.field_single_cta_link.0.url }}" class="single-cta-link">
      <div class="single-cta-link-content" style="{% if paragraph.field_cta_color.value == 'red' %}background-color: #e82f2f; color: white;
      {% elseif paragraph.field_cta_color.value == 'blue' %} background-color: #00325b; color: white;
      {% elseif paragraph.field_cta_color.value == 'black' %} background-color: #2F2F2F; color: white;
      {% elseif paragraph.field_cta_color.value == 'white' %} background-color: white; color: black; border: 1px solid black;
      {% else %}background-color: white; color: black; border: 1px solid black; {% endif  %} ">
        <div class="single-cta-link-upper-text">
          {{ paragraph.field_link_upper_text.value }}
          {% if paragraph.field_link_bottom_text.value is empty %}
            <i class="fa-solid fa-arrow-right-long"></i>
          {% endif %}
        </div>
        {% if paragraph.field_link_bottom_text.value %}
          <div class="single-cta-link-bottom-text">
            {{ paragraph.field_link_bottom_text.value }}
              <i class="fa-solid fa-arrow-right-long"></i>
          </div>
        {% endif %}
      </div>
    </a>

  </div>
</div>

