// |--------------------------------------------------------------------------
// | Print.
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .print
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin print-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.print {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-left: 20px;
  position: relative;

  &:before {
    height: 1.35em;
    width: 1px;
    display: block;
    background-color: $color-base-002;
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  a {
    color: $color-base-002;
    text-decoration: none;

    svg {
      margin-left: 7px;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
