{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  paragraph.isPublished() ? null : 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      <div class="menu-linker-wrapper">
        {% for menu_link in _context['#menu_links'] %}
          <div class="menu-linker-item">

            <div class="menu-linker-box">
              <div class="menu-linker-body">
                <a class="menu-linker-title" href="{{ menu_link.url }}">{{ menu_link.title }}</a>


                {% if menu_link['intro_text']|length %}
                  <div class="menu-linker-intro-text">
                    {{ menu_link['intro_text'] }}
                  </div>
                {% endif %}


              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
