<div class="action-buttons d-md-block">
  <div class="flexy-list">
    <div>
      <a href="#" class="action-button print" onclick="window.print();">
        {{ 'Print' | trans }}
      </a>
    </div>
    {% if show_newsletter_action %}
    <div>
      <a class="newsletter" href="{{ url('<front>') }}/abonner">{{ 'Nyhedsbrev' | trans }}</a>
    </div>
    {% endif %}
  </div>
</div>
